@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
  background: #0a0a0a;
  min-height: 100vh;
  color: white;
}
a {
  text-decoration: none;
  color: gold;
}
.title {
  color: gold;
  font-family: "Montserrat";
  font-weight: bold;
  cursor: pointer;
}
.App {
  background: #14161a;
  min-height: 100vh;
}

.tr :hover {
  background: #131111 !important;
  cursor: pointer;
}
.active {
  border: 2px solid gold !important;
  background: rgb(239, 206, 16);
  color: black;
  font-weight: bold;
}
